html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name="viewport", content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
        link( rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        title Natours | Exciting tours for adventurous people
    body 
       // Header
       
        //content
    section.overview
        h1 Automex Technologies
    
    //footer
    footer.footer 
        .footer__logo 
            img(src='img/logo-green.png' alt='Natour logo')
        ul.footer__nav
            li: a(href='#') About Us
            li: a(href='#') Download apps
            li: a(href='#') Beacome a guide 
            li: a(href='#') Careers
            li: a(href='#') Contact
        p.footer__copyright &copy; By Automex Technologies
                










